@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    width: 100%;
    margin: auto;
    position: relative;
}

.slides img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade;
    animation-duration: 1.5s;
}

.control button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 6%, 80%, 0.5);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}